form { 
    display: flex;
    flex-direction:column; 
    width: 100%;
    justify-content:'center';
    align-content:'center';
    width:'35%';
    margin:'auto';
    padding: 8px;
}
input, select, textarea { 
    padding: 7px;
    height: 60px;
    width: 300px ;
    outline: 'none';
    border-radius: 5px;
    border: 1px solid rgb(182,182,182);
    margin:'auto';
    padding:'auto';
    margin-bottom: 0.3rem;

}
textarea{
    height: 150px;
}
form span{
    display:block;
    margin:0;
    padding:0;
    margin-bottom: 0.5rem;
    color: red;
    font-size: 12px;
}
input:focus{
    border: 1px solid rgb(0,208,255)
}

